# Auto detect text files and perform LF normalization
* text=auto

# Specific settings for file types
*.cs text eol=crlf
*.unity text eol=crlf
*.js text eol=crlf
*.json text eol=crlf
*.html text eol=crlf
*.css text eol=crlf
*.txt text eol=crlf
*.xml text eol=crlf
*.md text eol=crlf

# Binary files - do not convert CRLF
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.psd binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flac binary
*.wav binary
